<template>
  <div class="layout">
    HelloWorld
    <button size="small" type="primary"  @click="testBt">测试按钮</button>
  </div>
</template>

<script>
export default {
  name: 'Print',
  methods: {
    testBt: function () {
      const _this = this
      this.axios({
        url: '/print',
        method: 'post',
        params: {
          // downDate: _this.downForm.downDate
        },
        headers: {
          'Content-Type': 'application/json'
        }
      }
      ).then(function (rsp) {
        if (rsp.data.flag === 'S') {
          console.log(rsp)
        } else {
          _this.$message.error(rsp.data.msg)
        }
      }).catch(error => console.log(error))
    }
  }
}
</script>

<style scoped>
  .layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
  }

  .layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
    font-weight: bold;
    text-align: center;
    color: #49ffcc;
  }

  .layout-nav {
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
  }

  .layout-footer-center {
    text-align: center;
  }
</style>
